.................................column
column-count: 3;     кількість стовпців
column-gap: 40px;    відступи між колонками
column-rule-style: solid;    добавляє лінію між колонками
column-rule-width: 1px;      ширина лінії
column-rule-color: blue;     колір
column-rule: 1px solid blue;
column-width: 100px;          оптимальна  ширина стовпців, якщо зменшити екран то стовпців стає 2 і потім 1
....робить h2 заголовком для всіх колонок
h2 {
  column-span: all;
}


columns: 100px 3;       розділить текст у елементі <div> на 3 стовпці з шириною 100px:
column-count: 3;   розділить текст у елементі <div> на 3 стовпці:
column-gap: 10px;   проміжок у 40 пікселів між стовпцями:
column-rule: 1px solid lightblue;   малює лінію між колонами
column-span: all;    вказує, що елемент <h2> повинен охоплювати всі стовпці: як заголовок стовпців
column-width: 300px;    визначає рекомендовану, оптимальну ширину стовпців.
column-fill: balance;   заповнення стовпців (є ще auto)
