// Base
@import "./base/base";
// Blocks
@import "./blocks/header";
@import "./blocks/dropdown";
@import "./blocks/select";


//_variables.scss
$green: #26bc8c;
// @green: #26bc8c;   //less


//_base.scss
body {
	font-family: 'PT Sans', Arial, Sans-serif;
	// background-image: url("./../img/bg/bg-island.jpg");
	background-image: url("img/bg/bg-island.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.container {
	width: 1440px;
	background-color: #fafafa;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 320px) {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	}
}
