/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, D:/igorka/test/Git/howto/www__myprob/scss/base/_base.scss */
body {
  background-color: #fafafa;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* line 10, D:/igorka/test/Git/howto/www__myprob/scss/base/_base.scss */
.container {
  width: 1440px;
  background-color: #fafafa;
  margin-left: auto;
  margin-right: auto;
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
header {
  max-width: 1440px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

/* line 10, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top {
  padding: 30px 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

/* line 18, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__logo {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  padding-right: 58px;
}

/* line 24, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__logo a {
  text-decoration: none;
  color: #4d4d4d;
}

/* line 28, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__logo a:hover {
  color: #1875f0;
}

/* line 34, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search {
  width: 468px;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #f5f5f5;
  display: flex;
  flex-direction: row;
  margin-right: 66px;
}

/* line 44, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search input {
  width: 278px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  padding: 20px;
}

/* line 55, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search input::placeholder {
  color: #b3b3b3;
}

/* line 60, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 142px;
  color: #b3b3b3;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  padding: 20px 28px;
  border-left: 2px solid #f5f5f5;
  cursor: pointer;
}

/* line 76, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__category .arrow-svg__padding-left {
  padding-left: 15px;
}

/* line 80, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__category:hover {
  color: #1875f0;
}

/* line 83, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__category:hover .header-top__search__cat__arrow-svg {
  fill: #1875f0;
}

/* line 89, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__cat__arrow-svg {
  fill: #b3b3b3;
}

/* line 93, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__search-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  border-left: 2px solid #f5f5f5;
  cursor: pointer;
}

/* line 101, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__search-svg .search-svg {
  fill: gray;
}

/* line 106, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__search__search-svg:hover .search-svg {
  fill: #1875f0;
}

/* line 113, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 119, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 32px;
  cursor: pointer;
}

/* line 128, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__cart:hover .header-top__shop__cart__text {
  color: #1875f0;
}

/* line 132, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__cart:hover .header-top__shop__cart__svg {
  fill: #1875f0;
}

/* line 138, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__cart__svg__wrapper {
  position: relative;
}

/* line 142, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__cart__svg {
  fill: gray;
}

/* line 146, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__cart__svg__circle {
  position: absolute;
  top: -8px;
  right: -7px;
  width: 6px;
  height: 6px;
  background-color: #1875f0;
  border-radius: 50%;
}

/* line 156, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__cart__text {
  padding-left: 22px;
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

/* line 164, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__hard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 43px;
  cursor: pointer;
}

/* line 172, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__hard:hover .header-top__shop__hard__text {
  color: #1875f0;
}

/* line 176, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__hard:hover .header-top__shop__hard__svg {
  fill: #1875f0;
}

/* line 182, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__hard__svg__wrapper {
  margin-right: 16px;
}

/* line 186, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__hard__svg {
  fill: gray;
}

/* line 190, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__hard__text {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
}

/* line 199, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

/* line 206, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__user:hover .header-top__shop__user__text {
  color: #1875f0;
}

/* line 210, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__user:hover .header-top__shop__user__svg {
  fill: #1875f0;
}

/* line 216, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__user__svg__wrapper {
  margin-right: 19px;
}

/* line 220, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__user__svg {
  fill: gray;
}

/* line 224, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-top__shop__user__text {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
}

/* line 233, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.header-bottom {
  display: flex;
  justify-content: space-around;
  width: 1110px;
  margin-top: 8px;
  margin-left: 165px;
  margin-right: 165px;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}

/* line 247, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 760px;
  border-right: 2px solid #f5f5f5;
}

/* line 257, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 202px;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  cursor: pointer;
}

/* line 267, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-all:hover .nav-text {
  color: #1875f0;
}

/* line 271, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-all:hover .nav-svg {
  fill: #1875f0;
}

/* line 277, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-svg__wrapper {
  margin-left: 30px;
  margin-right: 22px;
}

/* line 282, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-svg {
  fill: gray;
}

/* line 286, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-text {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 295, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-category a {
  text-decoration: none;
  color: #808080;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  padding-left: 38px;
}

/* line 304, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav-category a:hover {
  color: #1875f0;
}

/* line 311, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_to {
  display: flex;
}

/* line 316, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_help {
  padding-left: 28px;
  padding-right: 28px;
  border-right: 2px solid #f5f5f5;
}

/* line 321, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_help a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #b3b3b3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 334, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_help:hover .colorBlue {
  color: #1875f0;
}

/* line 338, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_help:hover .nav_help_svg {
  fill: #1875f0;
}

/* line 347, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_price {
  padding-left: 28px;
  padding-right: 28px;
  border-right: 2px solid #f5f5f5;
}

/* line 352, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_price a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #b3b3b3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

/* line 366, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_price:hover .colorBlue {
  color: #1875f0;
}

/* line 370, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_price:hover .nav_help_svg {
  fill: #1875f0;
}

/* line 376, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nev_lang {
  padding-left: 28px;
  padding-right: 28px;
  border-right: 2px solid #f5f5f5;
}

/* line 381, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nev_lang a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #b3b3b3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 394, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nev_lang:hover .colorBlue {
  color: #1875f0;
}

/* line 398, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nev_lang:hover .nav_help_svg {
  fill: #1875f0;
}

/* line 403, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_help_svg-wrapper {
  padding-left: 10px;
}

/* line 407, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_header.scss */
.nav_help_svg {
  fill: #b3b3b3;
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_dropdown.scss */
.dropdown {
  position: relative;
  color: #b3b3b3;
}

/* line 6, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_dropdown.scss */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* line 18, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_dropdown.scss */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #b3b3b3;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 32, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_dropdown.scss */
.dropdown-content a:hover {
  background-color: #ddd;
  color: #1875f0;
}

/* line 37, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_dropdown.scss */
.dropdown:hover .dropdown-content {
  display: block;
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_select.scss */
.custom-select {
  position: relative;
  white-space: nowrap;
}

/* line 6, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_select.scss */
.custom-select select {
  display: none;
}

/* line 10, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_select.scss */
.select-items div, .select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}

/* line 17, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_select.scss */
.select-items {
  position: absolute;
  background-color: #fff;
  color: #b3b3b3;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* line 29, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_select.scss */
.select-hide {
  display: none;
}

/* line 33, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_select.scss */
.select-items div:hover, .same-as-selected {
  color: #1875f0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.mySlides {
  display: none;
}

/* line 5, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
img {
  vertical-align: middle;
}

/* line 9, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.slideshow-container {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  max-width: 1110px;
  position: relative;
  margin: auto;
  margin-top: 28px;
}

/* line 17, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* line 30, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.prev {
  left: 70px;
  border-radius: 0 3px 3px 0;
}

/* line 34, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.next {
  right: 70px;
  border-radius: 3px 0 0 3px;
}

/* line 39, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 43, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.text {
  position: absolute;
  top: 94px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 300;
  line-height: 30px;
}

/* line 54, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.dot-wrapper {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 61, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.dot {
  cursor: pointer;
  height: 2px;
  width: 68px;
  margin: 0 15px;
  background-color: #fff;
  opacity: 0.3;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* line 75, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.active {
  opacity: 1;
}

/* line 79, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  /* line 98, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_slideshow.scss */
  .prev, .next, .text {
    font-size: 11px;
  }
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.promo {
  display: flex;
  justify-content: space-between;
  width: 1110px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* line 11, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col {
  position: relative;
  width: 350px;
  height: 330px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
}

/* line 19, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 26, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col1-title {
  position: absolute;
  top: 45px;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* line 40, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col1-text {
  position: absolute;
  top: 89px;
  left: 50%;
  transform: translateX(-50%);
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 51, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col1-img {
  position: absolute;
  bottom: 31px;
  left: 50%;
  transform: translateX(-50%);
}

/* line 59, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col2-title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  bottom: 85px;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
}

/* line 74, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col2-text {
  position: absolute;
  bottom: 47px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 89, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col2-img {
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* line 95, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.colorFaFaFa {
  background-color: #fafafa;
}

/* line 98, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col-row {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  flex-direction: row;
  background-color: #ffffff;
  padding: 20px;
}

/* line 106, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col-row:not(:last-child) {
  margin-bottom: 30px;
}

/* line 109, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col-row:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* line 119, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_promo.scss */
.col3-title {
  padding-left: 25px;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1110px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/* line 10, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.main-nav {
  width: 255px;
  height: 600px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
}

/* line 18, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.main-nav__list {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 26, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.nav-itam {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  border-bottom: 2px solid #f5f5f5;
}

/* line 40, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.nav-itam:hover .nav-text {
  color: #1875f0;
}

/* line 43, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.nav-itam:hover .nav-icon {
  fill: #1875f0;
}

/* line 46, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.nav-itam:hover .nav-arrow {
  fill: #1875f0;
}

/* line 52, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.nav-icon {
  padding-left: 17px;
  fill: #ccc;
}

/* line 58, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.nav-text {
  padding-left: 17px;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
}

/* line 66, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.nav-arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  fill: #b3b3b3;
}

/* line 76, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.aser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 255px;
  height: 330px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
}

/* line 92, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.aser-content h4 {
  text-align: center;
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

/* line 99, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.aser-content h5 {
  text-align: center;
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

/* line 110, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 825px;
  height: 60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
  padding: 15px;
  margin-left: 30px;
}

/* line 123, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.filter-item {
  display: flex;
  color: #808080;
  font-size: 13px;
  font-weight: 500;
  line-height: 50px;
  padding: 0 25px;
  white-space: nowrap;
}

/* line 134, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.filter-item a {
  text-decoration: none;
}

/* line 140, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_main-content.scss */
.filter-active a, .filter-item:hover a {
  color: #1875f0;
  font-size: 13px;
  font-weight: 700;
  line-height: 50px;
  text-decoration: none;
  border-bottom: 2px solid #1875f0;
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.content {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 9, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el {
  width: 255px;
  height: 420px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  background-color: #ffffff;
  padding: 20px;
  margin-left: 30px;
  margin-bottom: 30px;
}

/* line 24, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* line 29, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 21px;
}

/* line 37, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-top__left {
  color: #b3b3b3;
  font-size: 10px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #f7f7f7;
  padding: 6px 10px;
}

/* line 48, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-top__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 55, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-top__menu {
  margin-right: 25px;
  fill: #d8d6d6;
  cursor: pointer;
}

/* line 59, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-top__menu:hover {
  fill: #1875f0;
}

/* line 65, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-top__hard {
  fill: #d8d6d6;
  cursor: pointer;
}

/* line 68, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-top__hard:hover {
  fill: #1875f0;
}

/* line 73, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-img-wrapper {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* line 82, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-img {
  cursor: pointer;
}

/* line 87, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-title {
  text-align: center;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
}

/* line 94, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-title:hover {
  color: #1875f0;
}

/* line 102, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-start-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 25px;
}

/* line 110, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.start {
  padding-right: 4px;
  cursor: pointer;
}

/* line 115, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.start-title {
  padding-left: 12px;
  padding-right: 4px;
  color: #b3b3b3;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.12px;
}

/* line 128, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-many {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 29px;
}

/* line 136, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-many__d {
  padding-right: 17px;
}

/* line 144, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-many__s__i {
  fill: #e6e4e4;
  cursor: pointer;
}

/* line 147, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_el.scss */
.el-many__s__i:hover {
  fill: #1875f0;
}

/* line 1, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
footer {
  width: 1440px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

/* line 11, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.footer-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 119px;
  border-bottom: 2px solid #f5f5f5;
}

/* line 21, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.footer-logo {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.76px;
  padding-left: 247px;
}

/* line 31, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 37, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.footer-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

/* line 42, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.footer-dropdown a {
  display: block;
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  padding-right: 10px;
}

/* line 58, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.footer-nav__item {
  text-decoration: none;
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding: 0 30px;
}

/* line 67, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.footer-sites {
  margin-right: 247px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 74, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.icon-f {
  margin-left: 32px;
}

/* line 82, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.icon-t {
  margin-left: 32px;
}

/* line 91, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.icon-i {
  margin-left: 32px;
}

/* line 96, D:/igorka/test/Git/howto/www__myprob/scss/blocks/_footer.scss */
.icon-y {
  margin-left: 32px;
}

/*# sourceMappingURL=main.css.map */