* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: $fafafa;
    margin: 0;
}
.container {
    max-width: 110px;
    margin-left: auto;
    margin-right: auto;
}