header
  nav
    .nav-logo Жанна Тата
      .nav-logo-title Сертифікований тренер по тета-хілінгу
    
    span(class='nav-span-btn', style="font-size:30px; cursor:pointer", onclick="openNav()") &#9776;
    
    .nav-link 
      ul
        li
          a(href='#') ПРО МЕНЕ
        li
          a(href='#') ТЕТА-ХІЛІНГ
        li
          a(href='#') ПОСЛУГИ
        li
          a(href='#') РОЗКЛАД
        li
          a(href='#') ГАЛЕРЕЯ
        li
          a(href='#') БЛОГ
        li
          a(href='#') КОНТАКТИ
          
    .overlay(id="myNav")
      a(href="javascript:void(0)", class="closebtn", onclick="closeNav()") &times;
      .overlay-content
        a(href='#') ПРО МЕНЕ
        a(href='#') ТЕТА-ХІЛІНГ
        a(href='#') ПОСЛУГИ
        a(href='#') РОЗКЛАД
        a(href='#') ГАЛЕРЕЯ
        a(href='#') БЛОГ
        a(href='#') КОНТАКТИ
        
  
  .header-main
    .header-main_left
      h1 Навчальний курс 
        span Тета Хілінга
      p Розкрийте в собі нові якості і здатності і навчитеся керувати своїм життям
      .header-main_items
        ul
          li
            a(href='#') 
              span Гармонізація 
              | взаємовідносин (подружніх, любовних, партнерських, з дітьми)
          li
            a(href='#') 
              span Набуття 
              | кращого для вас партнера
          li
            a(href='#') 
              span Розвиток 
              | будь-яких необхідних якостей
          li
            a(href='#') 
              span Подолання 
              | страхів, фобій, залежностей
          li
            a(href='#') 
              span Зцілення 
              | фізичних захворювань
          li
            a(href='#') 
              span Досягнення 
              | фінансового благополуччя
          li
            a(href='#') 
              span Подолання 
              | деструктивних переконань

    .header-main_right
      
    .header-main_bottom
      
