main
  h2 Мене звуть Жанна, і я вам 
    br
    span допоможу трансформувати 
    | своє життя
    
  .container 
    .section
      .container-left 
        a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0")
          .img
          
          <svg class='svg-video' width="174" height="174" viewBox="0 0 174 174" fill="none" xmlns="http://www.w3.org/2000/svg">
            | <circle cx="87" cy="87" r="58" fill="#A2ADFF" fill-opacity="0.2"/>
            | <circle cx="87" cy="87" r="86.5" stroke="#A2ADFF" stroke-opacity="0.3"/>
            | <g filter="url(#filter0_d)">
            | <ellipse cx="87" cy="87" rx="40" ry="42" fill="#5A64B0"/>
            | <ellipse cx="87" cy="87" rx="40" ry="42" fill="url(#paint0_linear)"/>
            | </g>
            | <circle cx="87" cy="85" r="40" fill="url(#paint1_linear)"/>
            | <path d="M93.1158 83.5143L84.2403 77.43C83.8305 77.1488 83.4175 77 83.0742 77C82.4105 77 82 77.5333 82 78.4261V91.576C82 92.4677 82.41 93 83.0721 93C83.4159 93 83.8223 92.8511 84.2331 92.5691L93.1127 86.485C93.6838 86.093 94 85.5657 94 84.9993C94.0001 84.4333 93.6875 83.906 93.1158 83.5143Z" fill="white"/>
            | <defs>
            | <filter id="filter0_d" x="27" y="30" width="120" height="124" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            | <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            | <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
            | <feOffset dy="5"/>
            | <feGaussianBlur stdDeviation="10"/>
            | <feColorMatrix type="matrix" values="0 0 0 0 0.23592 0 0 0 0 0.266351 0 0 0 0 0.529167 0 0 0 0.51 0"/>
            | <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
            | <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
            | </filter>
            | <linearGradient id="paint0_linear" x1="87" y1="101.175" x2="87" y2="129" gradientUnits="userSpaceOnUse">
            | <stop stop-color="#8793F3"/>
            | <stop offset="1" stop-color="#5562CB"/>
            | </linearGradient>
            | <linearGradient id="paint1_linear" x1="87" y1="45" x2="87" y2="125" gradientUnits="userSpaceOnUse">
            | <stop stop-color="#ABB5FF"/>
            | <stop offset="1" stop-color="#7986EC"/>
            | </linearGradient>
            | </defs>
            | </svg>

      .container-right 
        p Усе своє свідоме життя я захоплювалася 
          span психологією, езотерикою, східною філософією
          | , але незважаючи на це не могла вибудувати свою
          | особисте життя. Тоді я зрозуміла, що тільки змінивши себе, можливо
          | sзмінити світ навколо себе.
        
        p Вперше відвідавши індійського, гуру який приїхав до Європи і 
          span отримала даршан
          | , стикнулася з місцевою культурою і глибокою вірою і змогла
          | отримати відповіді на свої питання.
        
        p Зараз я практик, 
          span живу у Франції 
          | - загальний стаж консультування
          | більше 1 000 годин. Особливе місце в практиці займають навчальні
          | класи за методикою
          span Тета Хілінг
    
  .container-number 
      .container-number_hours
        .number 1000+
        .number-title 
          .number-title_h Годин
          .number-title_t Загальний стаж 
            br 
            | консультування
          
      .container-number_years 
        .number 15+
        .number-title 
          .number-title_h Років 
          .number-title_t займаюся питаннями 
            br 
            | духовного зростання
          
      .container-number_hours
        .number 1200+
        .number-title 
          .number-title_h Людина
          .number-title_t Успішно пройшли 
            br 
            | індивідуальні тренінги
         
