header {
  width: 100%;
  height: 780px;
  background: radial-gradient(50% 112.8% at 69.58% 50%, #F5FCFF 0%, #EEF9FF 100%);
  padding-top: 26px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  @media (max-width: 1145px) {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: 780px+55px;
  }
  @media (max-width: 1100px) {
    height: 780px+55px+50px;
  }
  @media (max-width: 1040px) {
    height: 780px+55px+50px+100px;
  }
  @media (max-width: 805px) {
    height: 780px+55px+50px+100px+230px;
  }
}

nav {
  position: relative;
  width: 1264px;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1430px) {
    width: 100%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  @media (max-width: 390px) {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }
}

.nav-logo {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  color: #363636;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 390px) {
    font-size: 22px;
  }
}

.nav-logo-title {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #4B5455;
  border-left: 1px solid #DDDDDD;
  width: 150px;
  padding-left: 27px;
  margin-left: 27px;
  @media (max-width: 390px) {
    width: 130px;
    padding-left: 7px;
    margin-left: 7px;
  }
}

.nav-link {
  padding: 0;
  margin: 0;

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    li {
      padding: 0;
      margin: 0 0 0 24px;

      &:not(:last-child) {
        margin-right: 24px;
        @media (max-width: 1150px) {
          margin: 0 0 0 20px;
        }
      }

      a {
        padding: 0;
        margin: 0;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #363636;
        text-decoration: none;

        &:hover {
          color: #69B0AC;
        }
      }
    }
  }
  @media (max-width: 920px) {
    display: none;
  }
}
//header-main

.header-main {
  position: relative;
  width: 1264px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1280px) {
    width: 100%;
  }
  @media (max-width: 805px) {
    width: 100%;
    flex-direction: column;
  }
}

.header-main_left {
  h1 {
    width: 700px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 82px;
    line-height: 90px;
    color: #363636;
    @media (max-width: 1400px) {
      width: 100%;
      font-size: 52px;
      line-height: 1;
      padding: 5px;
    }
    @media (max-width: 720px) {
      font-size: 32px;
      line-height: 1;
    }

    span {
      color: #69B0AC;
      @media (max-width: 1400px) {
        white-space: normal;
      }
    }
  }

  p {
    margin: 27px 0;
    width: 440px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #7C7C7C;
    @media (max-width: 1290px) {
      padding: 5px;
      width: 100%;
    }
    @media (max-width: 320px) {
      margin: 7px 0;
    }
  }
}

.header-main_items {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    @media (max-width: 610px) {
      width: 100%;
      margin: 7px 0;
    }

    li {
      padding: 0;
      margin: 0 0 15px;

      a {
        display: block;
        position: relative;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #7C7C7C;
        padding-left: 43px;
        @media (max-width: 900px) {
          z-index: 1;
        }

        span {
          color: #363636;
        }

        &:hover {
          color: #69B0AC;
        }

        &::before {
          content: '';
          position: absolute;
          display: block;
          background-image: url("/img/Group1.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          top: 0;
          left: 0;
          width: 20px;
          height: 23px;
        }
      }
    }
  }
}
//.header-main_right

.header-main_right {
  position: absolute;
  top: 45px;
  right: -85px;
  width: 770px;
  height: 691px;
  background-image: url("/img/Group.png");
  @media (max-width: 1430px) {
    right: 0;
  }
  @media (max-width: 1145px) {
    top: 100px;
  }
  @media (max-width: 1100px) {
    top: 150px;
  }
  @media (max-width: 1040px) {
    top: 250px;
  }
  @media (max-width: 805px) {
    top: 480px;
    background-position: center;
    width: 100%;
  }
  @media (max-width: 500px) {
    top: 480px+100px;
    width: 100%;
  }
}

.header-main_bottom {
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  width: 101px;
  height: 60px;
  background-image: url("/img/g0.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:hover {
    cursor: pointer;
  }
  @media (max-width: 1400px) {
    display: none;
  }
}
