$green: #26bc8c;

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	// padding-top: 26px;
	  // font-family: Uni Neue;
	font-family: 'Uni Neue', Arial, Sans-serif;
	// background-image: url("../../img/bg/bg-island.jpg");
	// background-image: url("img/bg/bg-island.jpg");
	// background-repeat: no-repeat;
	// background-position: center;
	// background-size: cover;
	// overflow: hidden;
}
