.section-header
	.logo
		a(href='#')
			img(src='img/logo/logo.png', alt= title width= width)
	.navigation
		ul
			li
				a(href='index.html')
					| Головна
					br 
					span
						| Ласкаво просимо
			li
				a(href='appartment-page.html')
					| Апартаменти
					br 
					span
						| Вибір номера
			li
				a(href='contacts.html')
					| Контакти
					br 
					span
						| Напишіть нам
			li.reservation-btn.custom-color-btn-back
				a(href='#')
					| Бронювання
					br 
					span
						| Забронювати номер
