<section class="footer">

  <!-- footer-top -->
  <div class="container footer-top">
    <div class="row">

      <div class="col-sm-6 col-lg-3">
        <h4 class="footer__title"><a href="#">About Blog</a></h4>
        <p class="footer__text">Lorem ipsum dolor sit amet, conser adipisicing esse cillum dolore nulla pariatur. </p>
        <div class="footer__img">
          <img class="footer__img_item" src="https://via.placeholder.com/361x147" alt="dsa">
          <p class="footer__img-text">Nathaliya Jhone</p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-3">
        <h4 class="footer__title"><a href="#">latest tweets</a></h4>

        <div class="footer__text">
          <ul class="footer__list">

            <li class="footer__list_item">
              <a class="footer__list_link" href="#">@Twitter@magicalrebekah</a>
              <p class="footer__list_text">Developer Advocate @heyval isaiyou knows the very well is about things.</p>
            </li>

            <li class="footer__list_item">
              <a class="footer__list_link" href="#">@Twitter@magicalrebekah</a>
              <p class="footer__list_text">Developer Advocate hav a great work this knows the very well is about things.</p>
            </li>

          </ul>
        </div>
      </div>


      <div class="col-sm-6 col-lg-3">
        <h4 class="footer__title"><a href="#">Follow me instagram</a></h4>
        <div class="footer__gallery">
          <div class="container-fluid">

            <div class="row">
              <div class="col-4">
                <img class="footer__img_item" src="https://via.placeholder.com/119x98" alt="dsa">
              </div>
              <div class="col-4">
                <img class="footer__img_item" src="https://via.placeholder.com/119x98" alt="dsa">
              </div>
              <div class="col-4">
                <img class="footer__img_item" src="https://via.placeholder.com/119x98" alt="dsa">
              </div>
              <div class="col-4">
                <img class="footer__img_item" src="https://via.placeholder.com/119x98" alt="dsa">
              </div>
              <div class="col-4">
                <img class="footer__img_item" src="https://via.placeholder.com/119x98" alt="dsa">
              </div>
              <div class="col-4">
                <img class="footer__img_item" src="https://via.placeholder.com/119x98" alt="dsa">
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-sm-6 col-lg-3">
        <h4 class="footer__title"><a href="#">latest comment</a></h4>
        <div class="footer__comment">
          <p class="footer__comment-title">From Alex :</p>
          <p class="footer__comment-text">Developer Advocate @heyval isaiyou know the very well is talking about things.</p>
        </div>
        <div class="footer__comment">
          <p class="footer__comment-title">From Jhon Doe :</p>
          <p class="footer__comment-text">Developer Advocate @heyval isaiyou know the very well is talking about things.</p>
        </div>
      </div>


    </div>
  </div>
  <!-- //footer-top -->

</section>



<section class="footer-bottom">
  <!-- footer-bottom -->
  <div class="container">
    <div class="row">

      <div class=" col-12 col-lg-6">
        <p class="footer-copyright">@ 2020 copyright .all right reserved by awesome theme</p>
      </div>

      <div class="col-12 col-lg-6 align-center">
        <a class="footer-bottom__menu" href="#">terms policy</a>
        <a class="footer-bottom__menu" href="#">disclaimer</a>
      </div>

    </div>
  </div>
  <!-- //footer-bottom -->
</section>
