<section class="nav">
  <nav id="navbar">

    <div class="col">
      <a id="nav_btn" href="#">
        <div class="nav-icon">
          <i class="fas fa-bars"></i>
        </div>
      </a>

    </div>

    <div class="col">
      <a class="logo_link" href="#home">
        <img class="nav-logo" src="assets/img/icon/deco.png" alt="logo" />
        <span class="nav-logo__title"> Blog</span>
      </a>
    </div>

    <div class="col d-flex justify-content-end">
      <a class="social_icon" href="#"><i class="fas fa-rss"></i></a>
      <a class="social_icon" href="#"><i class="fab fa-twitter"></i></a>
      <a class="social_icon" href="#"><i class="fab fa-tumblr"></i></a>
      <a class="social_icon" href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="social_icon social_border_right" href="#"><i class="fas fa-search"></i></a>
    </div>

  </nav>

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" id="close_btn" class="closebtn">&times;</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>

</section>
