<div class="post video">

  <div class="post-video adaptive-wrap">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/P7d1H83IcjE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="post__icon">
    <i class="fas fa-film"></i>
  </div>

  <div class="post__subtitle">
    <h5 class="post__subtitle_item">
      <a href="#">Designer</a>
    </h5>
  </div>

  <div class="post__title">
    <a href="#">
      <h3 class="post__title_item">Video Image Post Style</h3>
    </a>
  </div>

  <div class="post__date">
    <time datetime="2016-01-25">January 25, 2016</time>
  </div>

  <div class="post__text">
    <p class="post__text_item">A CONAN staffer is learning the rules of the in  road, with a little help from Look out, fellow drivers!</p>
  </div>

  <div class="post__btn">
    <a class="post__btn_item" href="#">Read More</a>
  </div>

  <div class="post__footer">
    <div class="row">

      <div class="col">
        <div class="post__footer_comment">

          <div class="post__footer_comment_icon">
            <i class="far fa-comments"></i>
          </div>

          <div class="post__footer_comment_title">
            <p class="post__footer_comment_title">
              <a href="#">No Comment</a>
            </p>
          </div>

        </div>
      </div>


      <div class="col">
        <div class="post__footer_social">

          <div class="post__footer_social_icon">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>

          <div class="post__footer_social_icon">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>

          <div class="post__footer_social_icon">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
          </div>

          <div class="post__footer_social_icon">
            <a href="#">
                <i class="fas fa-globe-europe"></i>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>


</div>
