<div class="post">

  <div class="post__img">
    <div class="post__icon">
      <i class="far fa-image"></i>
    </div>
  </div>

  <div class="post__subtitle">
    <h5 class="post__subtitle_item">
      <a href="#">Travelling</a>
    </h5>
  </div>

  <div class="post__title">
    <a href="#">
      <h3 class="post__title_item">Standard Image Post</h3>
    </a>
  </div>

  <div class="post__date">
    <time datetime="2016-01-25">January 25, 2016</time>
  </div>

  <div class="post__btn">
    <a class="post__btn_item" href="#">Read More</a>
  </div>

  <div class="post__footer">
    <div class="row">

      <div class="col">
        <div class="post__footer_comment">

          <div class="post__footer_comment_icon">
            <i class="far fa-comments"></i>
          </div>

          <div class="post__footer_comment_title">
            <p class="post__footer_comment_title">
              <a href="#">06 Comment</a>
            </p>
          </div>

        </div>
      </div>


      <div class="col">
        <div class="post__footer_social">

          <div class="post__footer_social_icon">
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
          </div>

          <div class="post__footer_social_icon">
            <a href="#">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>

          <div class="post__footer_social_icon">
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
          </div>

          <div class="post__footer_social_icon">
            <a href="#">
                <i class="fas fa-globe-europe"></i>
            </a>
          </div>

        </div>
      </div>

    </div>
  </div>


</div>
