<div class="post audio">

  <div class="post__icon">
    <i class="fas fa-music"></i>
  </div>

  <div class="post__subtitle">
    <h5 class="post__subtitle_item">
      <a href="#">Audio Music</a>
    </h5>
  </div>

  <div class="post__title">
    <a href="#">
      <h3 class="post__title_item">Best Audio Player Post</h3>
    </a>
  </div>

  <div class="post__date">
    <time datetime="2016-01-25">January 25, 2016</time>
  </div>

  <div class="post-audio__img">
    <img src="https://via.placeholder.com/155x155" alt="asd">
  </div>

</div>
