<div class="post blockquote">

  <div class="post__icon">
    <i class="fas fa-quote-left"></i>
  </div>

  <div class="post__text">
    <blockquote  class="post__text_item">As per Lorm ipsum dolor sitamet,
consectetur adipisicing elits, sed do Now eiusmod tempor havei ut labores et dolore magna aliqusa. Ut wenim ad minim veniam, quis
its a snostrud now is the ullamco
 aliquip ex ea commodo.</blockquote >
  </div>

  <div class="post__autor">
    <a class="post__autor_link" href="#">Nathalia Alexy</a>
  </div>

</div>
