<div class="post link">

  <div class="post__icon post__link_icon">
    <i class="fas fa-link"></i>
  </div>

  <a class="post__link" href="#">http://www.abcdomainname.com/ screen/discovery</a>

</div>
