<div class="post travel">

  <div class="post__subtitle">
    <h5 class="post__subtitle_item">
      <a href="#">Travelling</a>
    </h5>
  </div>

  <div class="post__title">
    <a href="#">
      <h3 class="post__title_item">Travel besT Adventure</h3>
    </a>
  </div>

  <div class="post__date">
    <time datetime="2016-01-25">January 25, 2016</time>
  </div>

  <div class="post__text">
    <p class="post__text_item">Lorem ipsum doloirs sit amet, csatetur adipisicin, sed does eiusmod tehampor incididunt uts laboasre et dolhvaliqua. Ut enim vem, nostrasuaations ullamco labiosi ut saaliquip exoi asea comoodo Disco choice is
      the have great work.</p>
  </div>

  <div class="post__btn">
    <a class="post__btn_item" href="#">Read More</a>
  </div>

</div>
