<div class="slideshow-container">

  <div class="mySlides fade">
    <img src="./assets/img/slideshow/slider1.jpg" style="width:100%">
    <div class="mySlides_text">
      <p class="mySlides_subtitle">Latest News</p>
      <h1 class="mySlides_title">BodyBuilding best <br>
        for you health</h1>
    </div>
  </div>

  <div class="mySlides fade">
    <img src="https://via.placeholder.com/1530x580" style="width:100%">
    <div class="mySlides_text">
      <p class="mySlides_subtitle">Latest</p>
      <h1 class="mySlides_title">Body best <br>
        for you health</h1>
    </div>
  </div>

  <div class="mySlides fade">
    <img src="https://via.placeholder.com/1530x580" style="width:100%">
    <div class="mySlides_text">
      <p class="mySlides_subtitle">News</p>
      <h1 class="mySlides_title">Building best <br>
        for you</h1>
    </div>
  </div>


  <div class="slideshow-nav">

    <div class="dot-wrapper">
      <span class="dot" data-number='1' "></span>
      <span class=" dot" data-number='2' "></span>
      <span class=" dot" data-number='3' "></span>
    </div>

    <div class=" next-wrapper">
        <a class="prev plusSlides" data-number='-1'><i class="fas fa-long-arrow-alt-left"></i></a>
        <p class="next-wrapper__text">Featured Article</p>
        <a class="next plusSlides" data-number='1'><i class="fas fa-long-arrow-alt-right"></i></a>
    </div>

  </div>

</div>
