<section class="top-form">
  <div class="container">
    <div class="row">

      <div class="col">
        <form>
          <div class="row d-flex justify-content-between">
            <div class="col-12 col-sm-12 col-xl-3">
              <h4 class="form-title">Signup to Newsletter</h4>
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
              <input type="text" class="form-name form-control" placeholder="Your Name">
            </div>
            <div class="col-12 col-sm-6 col-xl-3">
              <input type="email" class="form-email form-control" id="exampleInputEmail1" placeholder="Your Email Address">
            </div>
            <div class="col-12 col-sm-12 col-xl-3">
              <button type="submit" class="btn btn-primary">Subscribe Now</button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

</section>
