header {
  max-width: 1440px;
  // height: 180px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.header-top {
  padding: 30px 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;

  @media (max-width: 320px) {
      flex-direction: column;
      padding: 3px;
      justify-content: center;
   }
}

.header-top__logo {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  padding-right: 58px;

  & a {
    text-decoration: none;
    color: #4d4d4d;

    &:hover {
      color: #1875f0;
    }
  }
  @media (max-width: 320px) {
      flex-direction: column;
      // padding: 3px;
      justify-content: center;
        padding-right: 3px;
   }
}

.header-top__search {
  width: 468px;
  height: 100%;
  border-radius: 4px;
  border: 2px solid #f5f5f5;
  display: flex;
  flex-direction: row;
  margin-right: 66px;
  @media (max-width: 320px) {
      // flex-direction: column;
      width: 100%;
      height: 30px;
        margin-right: 3px;
   }
}

.header-top__search input {
  width: 278px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  // line-height: 30px;
  border: none;
  outline: none;
  // font-family: Roboto;
  padding: 20px;

  &::placeholder {
    color: #b3b3b3;
  }
  @media (max-width: 320px) {
    width: 100%;
    padding: 2px;

   }
}

.header-top__search__category {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 142px;
  // height: 100%;
  color: #b3b3b3;
  font-size: 10px;
  font-weight: 900;
  // line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  padding: 20px 28px;
  border-left: 2px solid #f5f5f5;
  cursor: pointer;

  .arrow-svg__padding-left {
    padding-left: 15px;
  }

  &:hover {
      color: #1875f0;

    .header-top__search__cat__arrow-svg {
      fill: #1875f0;
    }
  }

  @media (max-width: 320px) {
    width: 70%;
    padding: 2px;

   }
}

.header-top__search__cat__arrow-svg {
  fill: #b3b3b3;
}

.header-top__search__search-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  border-left: 2px solid #f5f5f5;
  cursor: pointer;

  .search-svg {
    fill: gray;
  }

  &:hover {
    .search-svg {
      fill: #1875f0;
    }
  }
}
// shop

.header-top__shop {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 320px) {
    width: 100%;
    padding: 2px;

   }
}

.header-top__shop__cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-right: 32px;
  cursor: pointer;

  &:hover {
    .header-top__shop__cart__text {
      color: #1875f0;
    }

    .header-top__shop__cart__svg {
      fill: #1875f0;
    }
  }
  @media (max-width: 320px) {
    margin-right: 2px;
    margin-top: 5px;
    padding: 2px;

   }
}

.header-top__shop__cart__svg__wrapper {
  position: relative;
}

.header-top__shop__cart__svg {
  fill: gray;
}

.header-top__shop__cart__svg__circle {
  position: absolute;
  top: -8px;
  right: -7px;
  width: 6px;
  height: 6px;
  background-color: #1875f0;
  border-radius: 50%;
}

.header-top__shop__cart__text {
  padding-left: 22px;
  color: #808080;
  font-size: 14px;
  font-weight: 500; // line-height: 30px;
  white-space: nowrap;
}
//hard
.header-top__shop__hard {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 43px;
  cursor: pointer;

  &:hover {
    .header-top__shop__hard__text {
      color: #1875f0;
    }

    .header-top__shop__hard__svg {
      fill: #1875f0;
    }
  }
}

.header-top__shop__hard__svg__wrapper {
  margin-right: 16px;
}

.header-top__shop__hard__svg {
  fill: gray;
}

.header-top__shop__hard__text {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
}
// user

.header-top__shop__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  &:hover {
    .header-top__shop__user__text {
      color: #1875f0;
    }

    .header-top__shop__user__svg {
      fill: #1875f0;
    }
  }
}

.header-top__shop__user__svg__wrapper {
  margin-right: 19px;
}

.header-top__shop__user__svg {
  fill: gray;
}

.header-top__shop__user__text {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
}
// header-bottom

.header-bottom {
  display: flex;
  justify-content: space-around;
  width: 1110px;
  // height: 63px;
  // margin: auto;
  margin-top: 8px;
  // padding: 0 165px;
  margin-left: 165px;
  margin-right: 165px;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;

  @media (max-width: 320px) {
    flex-direction: column;
    width: 100%;
    margin-top: 4px;
    margin-left: 2px;
    margin-right: 2px;

   }
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 760px;
  // height: 100%;
  border-right: 2px solid #f5f5f5;
  @media (max-width: 320px) {
    flex-direction: column;
    width: 100%;

   }}
/////

.nav-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 202px;
  border-left: 2px solid #f5f5f5;
  border-right: 2px solid #f5f5f5;
  cursor: pointer;

  &:hover {
    .nav-text {
      color: #1875f0;
    }

    .nav-svg {
      fill: #1875f0;
    }
  }
}

.nav-svg__wrapper {
  margin-left: 30px;
  margin-right: 22px;
}

.nav-svg {
  fill: gray;
}

.nav-text {
  color: #808080;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}
/////////

.nav-category {
  & a {
    text-decoration: none;
    color: #808080;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 38px;

    &:hover {
      color: #1875f0;
    }
  }
}
////

.nav_to {
  display: flex;
  @media (max-width: 320px) {
    // flex-direction: column;
    width: 100%;
   }
}
/////

.nav_help {
  padding-left: 28px;
  padding-right: 28px;
  border-right: 2px solid #f5f5f5;

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }

  &:hover {
    & .colorBlue {
      color: #1875f0;
    }

    .nav_help_svg {
      fill: #1875f0;
    }
  }
}


// aaaa

.nav_price {
  padding-left: 28px;
  padding-right: 28px;
  border-right: 2px solid #f5f5f5;

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
  }

  &:hover {
    & .colorBlue {
      color: #1875f0;
    }

    .nav_help_svg {
      fill: #1875f0;
    }
  }
}

.nev_lang {
  padding-left: 28px;
  padding-right: 28px;
  border-right: 2px solid #f5f5f5;

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #b3b3b3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
  }

  &:hover {
    & .colorBlue {
      color: #1875f0;
    }

    .nav_help_svg {
      fill: #1875f0;
    }
  }
}
.nav_help_svg-wrapper {
  padding-left: 10px;
}

.nav_help_svg {
  fill: #b3b3b3;
}
